table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.input-product{
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.input-product > label{
    width: 100px;
}
.input-product > input, textarea, select{
    width: 400px;
}