html{
    height: auto;
    background-color: white;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.input-product{
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.input-product > label{
    width: 100px;
}
.input-product > input, textarea, select{
    width: 400px;
    /*border: 1px solid rgba(128, 128, 128, 0.41);*/
    background-color: rgba(204, 204, 204, 0.15) !important;
    padding-left: 10px;
}
.add-quantity-of-inventory{
    display: flex;
    margin-left: 10px;
}
.input-inventory{
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-right: 20px;
}
.input-inventory > label{
    width: 100px;
    margin-right: 10px;
}
.input-inventory > input{
    width: 350px;
    background-color: rgba(204, 204, 204, 0.15) !important;
    padding-left: 10px;
    /*background-color: rgba(204, 204, 204, 0.25) !important;*/
    /*border: 1px solid gray;*/
}
/*.input-inventory > input, select{*/
/*    width: 200px;*/
/*}*/
.selected-product{
    background-color: aqua !important;
}
.update-product-detail{
    position: relative;
}
.update-inventory{
    position: absolute;
    left: 600px;
    /*bottom: 50%;*/
    top:0;
    width: 700px;

}
.pagination-page{
    display: flex;
    justify-content: center;
}
.pagination-page ul{
    width: 120px;
    height: 30px;
}
.pagination-page li{
    width: 50px;
    height: 30px;
}
.page-link{
    /*color: black;*/
    text-align: center;
    width: 50px;
    height: 30px;
    /*background-color: #3A3131;*/
    color: #3a4fbb;
    border-radius: 8px;
    border: 1px solid #3a4fbb;

}
.active-page{
    text-align: center;
    width: 50px;
    height: 30px;
    background-color: #3a4fbb;
    color: white;
    border-radius: 8px;
}